/*==== 0.Base setting ====*/
* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  padding: 0px;
  margin: 0px;
}

.navbar-brand {
  color: #FFFFFF;
  font-size: 1.5rem;
  font-weight: 600;
}

.navbar-brand:hover {
  color: #AAAAAA;
}

.button {
  background-color: #FFFFFF;
}

.fa-home {
  color: #FF4500;
}

.fa-pen {
  color: #00008B;
}

.fa-utensils {
  color: #4592af;
}

.fa-grin-beam {
  color: #FFD700;
}

.date {
  font-size: 0.7rem;
  color: #888888;
}

.modal-dialog {
  margin-top: 150px;
  width: 450px;
}

.modal-header {
  background-color: #DDDDDD;
}

.modal-title {
  font-weight: 900;
  font-family: DFKai-sb
}

.modal-body {
  font-family: fantasy
}

.modal-footer {
  border-top: none;
}

.fa-chevron-circle-up {
  font-size: 50px;
  float: right;
  color: #DDDDDD;
  bottom: 20px;
  position: relative;
}


.fa-chevron-circle-up:hover {
  color: #000000;
}

.warning-block {
  font-size: 0.7rem;
  color: #888888;
}

input[type=text] {
  color: #0000AA;
}

input[type=number] {
  color: #FF0000;
}

.edit-title {
  color: #E63F00;
}

.new-title {
  color: #0000AA;
}

.add {
  position: fixed;
  bottom: 0;
  width: 100%;
}

#select-month,
#select-category {
  margin: 80px 60px;
}

#edit-btn,
#delete-btn {
  margin: 10px 5px;
  padding: 7px 5px;
}

td {
  white-space: nowrap;
  text-overflow: ellipsis;
}


@media screen and (max-width:768px) {

  .add {
    position: fixed;
    bottom: 0;
    width: 90%;
  }

  #select-month,
  #select-category {
    margin: 60px 0;
  }

  h1 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1rem;
  }

  #edit-btn,
  #delete-btn {
    margin: 2px 3px;
    padding: 0px;
  }


  td {
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .modal-dialog {
    margin-top: 150px;
    width: 350px;
  }

}

@media screen and (max-width:320px) {

  h4 {
    font-size: 1.4rem;
  }

  .add {
    position: fixed;
    bottom: 0;
    width: 80%;
  }

  #select-month,
  #select-category {
    margin: 70px 0;
  }

  h1 {
    font-size: 1.5rem;
  }

  #edit-btn,
  #delete-btn {
    margin: 2px 0px;
    padding: 0px;
  }

  td {
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .modal-dialog {
    margin-top: 150px;
    width: 250px;
  }


}