/*==== 0.Base setting ====*/
* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-image: url("https://picsum.photos/id/20/3670/2462");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0px;
  margin: 0px;
}

.navbar .navbar-brand {
  color: #FFFFFF;
  font-size: 1.5rem;
  font-weight: 600;
}


.form-control::placeholder {
  color: #aaaaaa;
  font-size: 0.8rem;
}

.card {
  box-shadow: 12px 12px 7px rgba(0, 0, 0, 0.9);
}

.card-body {
  margin-top: 50px;
}

.fa-facebook-square,
.fa-github {
  font-size: 1.5rem;
}

h1 {
  font-weight: 900;
}

label {
  font-size: 1.3rem;
}

.warning-block {
  font-size: 0.7rem;
  color: #888888;
}

.btn {
  font-size: 1.1rem;
}

.hint {
  font-size: 0.9rem;
  color: #5599FF;
}

a {
  color: #0000FF;
}